
  div {
    border: 10px solid green;
    font-size: 60px;
  }


  @media(min-width: 800px){
    div {
      display: none;
    }
  }

  @media screen and (min-width: 800px){
    body {
      background: url(../7.jpg) no-repeat fixed;
      background-size: cover;
    }
  }


  @media screen and (min-width: 1200px){
    body {
      background: url(../8.jpg) no-repeat fixed;
      background-size: cover;
    }
  }