body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container01 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#h01 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.oven{
    width:1200px;
}




/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4285F4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}
/* 
footer {
    background-color: #4285F4;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
} */

.container02 {
    max-width: 800px;
    margin: auto;
}

.review {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.review h3 {
    color: #4285F4;
}

.author {
    color: #666;
    font-size: 14px;
}


.write {
    margin-left: 710px;
    border-radius: 5px;
}

.buttons {
    margin-top: 10px;
    margin-left: 560px;
}

.edit-button,
.delete-button {
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    /* margin-right: 10px; */
}

.edit-button:hover,
.delete-button:hover {
    background-color: #3c78d8;
}